body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 60px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 24px;
}

img{
    height: 450px;
    width: 350px;
}

a{
    font-size: 25px;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none;
}