body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5fdff;
    color: #333;
}

h1{
    font-size: 60px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 24px;
}

img{
    height: 450px;
    width: 350px;
}

a{
    font-size: 25px;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none;
    color: #00cccc;
}

a:hover{
    text-decoration: underline;
}